body{
	font-family: sans-serif;
	background-image: url("cr1.jpg");
	background-size: 100%;
	background-position: center;
	background-repeat: repeat;
	background-color: #546e7a;
	color: lightgreen;
	opacity: 0.7;
}
ul{
	list-style: none;
	margin:0;
	padding: 0;
}
#container{
	width:360px;
	margin:100px auto;
	box-shadow:0 0 3px rgba(0,0,0,0.5);
}
input{
	font-family: inherit;
	font-size: 18px;
	background-color: #263238;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: none;
}

span{
	height:40px;
	text-align: center;
	margin-right: 20px;
	color: white;
	width: 0;
	transition: 0.2s linear; 
	display: inline-block;
	opacity:0;
}
li:hover span{
	width:40px;
	opacity:1;
}

input:focus{
	outline: none;
}
span{
	height: 60px;
	text-align: center;
	width: 60px;
	float: right;
}
h1{
	background-color: #263238;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}
li{
	background-color: #05386B;
	height: 60px;
	line-height: 60px;
	padding: 0 0 0 20px;
}
li:nth-child(2n){
	background-color: #5CDB95;
	color: blue;
}
.done{
	color: gray;
	text-decoration: line-through;
}